includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - resources/
        - routes/
        - tests/

    excludePaths:
        - app/Console/Kernel.php
        - app/Http/Controllers/Auth/*
        - app/Http/Controllers/Controller.php
        - app/Http/Requests/Auth/*
        - server.php
        - tests/Feature/Auth/*
        - */migrations/*
        - */seeds/*
        - *.blade.php

    level: 6

    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: routes/console.php

    checkGenericClassInNonGenericObjectType: false
